{% include 'doctor_header.html' %}

<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <p>
            <span data-typed-items="Upload Medical Reports of {{data['name']}}" 
                  style="font-family:bold;color:white;font-size:50px">
            </span>
        </p>

        <form method="post" enctype="multipart/form-data">
            <table class="table" style="width: 600px; background-color: rgba(0, 0, 0, 0.7); color: white;">
                <tr>
                    <th>File</th>
                    <td><input type="file" class="form-control" name="file" accept=".pdf" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" class="btn btn-primary" name="submit" value="UPLOAD">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</section>

<main id="main">
    <h1 align="center">PATIENT : {{data['name']}} MEDICAL REPORTS</h1>
    <table class="table" align="center" style="width: 900px; background-color: rgba(0, 0, 0, 0.7); color: white;">
        <tr>
            <th>SL.NO</th>
            <th>FILE</th>
        </tr>

        {% for row in data['upload'] %}
        <tr>
            <td align="center">{{ loop.index }}</td>
            <td align="center">
                <a href="/{{ row['file'] }}" target="_blank">
                    <img src="/{{ row['file'] }}" style="width: 100px; height: 100px;">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</main>

{% include 'footer.html' %}
