{% include 'hospitals_header.html' %}

<!-- ======= Hero Section ======= -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
	<div class="container" data-aos="zoom-in" data-aos-delay="100">
	  <!-- <h1></h1> -->
	  <p><span data-typed-items="Manage Department" style="font-family:bold;color:white;font-size:50px">MANAGE DEPARTMENT</span></p>
	

<form method="post">
	<table  class="table" style="width: 600px; background-color: rgba(0, 0, 0, 0.7);color:white" >
		<tr>
			<th>Department name</th>
			<td><input type="text" name="dname" class="form-control" style="background-color: #00000080 ; color: #fff"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" class="btn btn-warning"></td>
		</tr>
	</table>

	<table class="table" style="width: 600px; background-color: rgba(0, 0, 0, 0.7);color:white" >
		<tr>
			<th>Sno</th>
			
			<th>DEPARTMENT</th>
		</tr>
		
		<tr>
			
		</tr>

		

	</table>

</form>


	
</div>
</section><!-- End Hero -->

<main id="main">

{% include 'footer.html' %}